@import '../../styles/vars';

.dialogue {
  position: relative;
  width: 50vw;
  height: 100vh;
  
  text-shadow: 0 2px 2px $color-black;
  font-family: "TT Norms Medium", sans-serif;
  
  background: linear-gradient(to right, #7D7A82, #9398B880, $color-blank);
  
  opacity: 0;
  
  transition: opacity 1s;
  
  &_active {
	opacity: 1;
  }
  
  &_active &-content {
	&-header {
	  &__name,
	  &__title,
	  &__question {
		transform: translateY(0);
	  }
	}
  }
  
  &::before {
	content: '';
	position: absolute;
	left: 0;
	
	width: 6px;
	height: 100%;
	
	background: linear-gradient(to bottom, $color-blank, #EAEAEA, $color-blank);
	
	z-index: 500;
  }
  
  &-content {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	&-header {
	  height: 60%;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  
	  &__name {
		margin-left: 40px;
		font-size: 1.5rem;
		
		transform: translateY(-400px);
		
		transition: transform 1s;
	  }
	  
	  &__title {
		margin: 0 0 20px 40px;
		
		font-family: "TT Norms Bold", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #00000080;
		text-shadow: none;
		
		transform: translateY(-300px);
		
		transition: transform 1s;
	  }
	  
	  &__question {
		margin: 0 0 40px 40px;
		
		font-size: 1.4rem;
		
		transform: translateY(-200px);
		
		transition: transform 1s;
	  }
	}
	
	&-answers {
	  
	  &__element {
		position: relative;
		width: 100%;
		min-height: 70px;
		padding: 10px 0 10px 80px;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		
		font-size: 1.4rem;
		
		background: linear-gradient(to right, #8C8992, $color-blank);
		
		transition: padding .2s, width .2s;
		
		cursor: url("../../assets/images/cursorPointer.svg"), pointer;
		
		&:hover {
		  &::before,
		  &::after {
			opacity: 1;
		  }
		  
		  padding: 10px 0 10px 120px;
		  width: calc(100% + 40px);
		}
		
		&::before,
		&::after {
		  content: '';
		  position: absolute;
		  left: 0;
		  
		  width: 100%;
		  height: 2px;
		  
		  background: linear-gradient(to right, $color-white, $color-blank);
		  
		  opacity: 0;
		  
		  transition: opacity .2s;
		}
		
		&::before {
		  top: 0;
		}
		
		&::after {
		  bottom: 0;
		}
	  }
	}
  }
  
  &-exit {
	position: absolute;
	bottom: 40px;
	left: 40px;
	
	display: flex;
	align-items: center;
	
	font-family: "TT Norms Medium", sans-serif;
	
	@media (max-width: 1000px) {
	  bottom: 25px;
	  left: 35px;
	}
	
	@media (max-height: 800px) {
	  bottom: 25px;
	  left: 35px;
	}
	
	&__button {
	  width: 40px;
	  height: 40px;
	  margin-right: 5px;
	  
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  
	  font-size: 1.2rem;
	  
	  border: 1px solid $color-white;
	  
	  @media (max-width: 1280px) {
		font-size: 1rem;
	  }
	  
	  @media (max-width: 1000px) {
		width: 20px;
		height: 20px;
		margin-right: 2.5px;
		font-size: .8rem;
	  }
	  
	  @media (max-height: 800px) {
		width: 20px;
		height: 20px;
		margin-right: 2.5px;
		font-size: .8rem;
	  }
	  
	  @media (min-width: 3000px) {
		font-size: .8rem;
	  }
	}
	
	&__text {
	  font-size: 1.2rem;
	  
	  @media (max-width: 1280px) {
		font-size: 1rem;
	  }
	  
	  @media (max-width: 1000px) {
		font-size: .8rem;
	  }
	  
	  @media (max-height: 800px) {
		font-size: .8rem;
	  }
	  
	  @media (min-width: 3000px) {
		font-size: .8rem;
	  }
	}
  }
}