$color-white: #ffffff;
$color-white-medium-opacity: #ffffff40;
$color-black: #000000;
$color-black-light-opacity: #00000080;
$color-black-medium-opacity: #00000050;
$color-black-high-opacity: #00000010;
$color-gray: #707070;
$color-light-black: #343434;
$color-light-black-high-opacity: #34343425;

$color-blank: #00000000;

$font-size-default-max: 18px;
$font-size-default-high: 13px;
$font-size-default-middle: 10px;
$font-size-default-low: 8px;