@import '../../../../../../styles/vars';

.inventory-remove-accept {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 150px;
  height: 100%;
  
  background: linear-gradient(to top, #FF8888, #C373F360 60%, #C373F300);
  
  text-align: center;
  
  opacity: 0;
  
  transition: opacity .2s;
  
  &-content {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  
    width: 300px;
    
    font-size: 1.5rem;
    
    &-render {
      margin-bottom: 20px;
      font-family: "TT Norms Extra Bold", sans-serif;
      text-shadow: 0 3px 3px $color-black;
      
      &__image {
        width: 30%;
        margin-bottom: 15px;
      }
      
      &__name {
        margin-bottom: 15px;
      }
    }
    
    &__title {
      text-transform: uppercase;
      text-shadow: 0 3px 3px $color-black;
    }
    
    &-choice {
      position: relative;
  
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      text-transform: uppercase;
      font-family: "TT Norms Bold", sans-serif;
      
      &-confirm {
        position: absolute;
        
        text-shadow: 0 3px 3px $color-black;
  
        cursor: url("../../../../../../assets/images/cursorPointer.svg"), pointer;
        
        &:hover &-top {
          transform: rotate(-15deg) translateX(-10%);
          
          &__title {
            transform: translateY(-50%);
            opacity: 0;
          }
        }
        
        &:hover &__bottom {
          transform: translateY(10%);
        }
        
        &-top {
          transform-origin: 0 50%;
          
          transition: transform .2s;
          
          &__title {
            margin-bottom: 5px;
            
            transition: transform .2s, opacity .2s;
          }
          
          &__trash {
            margin-bottom: -5px;
          }
        }
        
        &__bottom {
          transition: transform .2s;
        }
      }
      
      &__decline {
        position: absolute;
        bottom: 0;
  
        border-bottom: 2px solid #ffffff;
        filter: drop-shadow(0 2px 2px $color-black);
  
        cursor: url("../../../../../../assets/images/cursorPointer.svg"), pointer;
      }
    }
  }
}