@import '../../../../../../../styles/vars';

.state-frac-message {
  position: relative;
  background: linear-gradient(to right, #21212180, $color-blank);
  padding: 5px 10px;
  margin: 0 0 5px 50px;

  font-family: "TT Norms Medium", sans-serif;

  font-size: .8rem;

  @media (max-width: 1280px) {
    padding: 5px 10px;
    margin: 0 0 5px 40px;
  }

  @media (max-width: 1000px) {
    padding: 3px 7px;
    margin: 0 0 3px 25px;

    font-size: .6rem;
  }

  @media (max-height: 800px) {
    padding: 3px 7px;
    margin: 0 0 3px 25px;

    font-size: .6rem;
  }

  &-before {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;

    display: flex;
    align-items: center;

    transform: translateX(-100%);

    &__icon {
      margin-right: -6px;
      height: 130%;

      @media (max-width: 1280px) {
        margin-right: -4px;
      }

      @media (max-width: 1000px) {
        margin-right: -3px;
      }

      @media (max-height: 800px) {
        margin-right: -3px;
      }
    }

    &__column {
      height: 100%;
      width: 2px;
      margin-left: 2px;

      background-color: $color-white;

      @media (max-width: 1000px) {
        width: 1px;
        margin-left: 1px;
      }

      @media (max-height: 800px) {
        width: 1px;
        margin-left: 1px;
      }
    }
  }

  &__text {
    font-family: "TT Norms Bold", sans-serif;
    word-wrap: break-word;
    margin-bottom: 3px;
  }
}