.chat {
  width: 600px;

  @media (min-width: 3000px) {
    width: 800px;
  }

  @media (max-width: 1280px) {
    width: 500px;
  }

  @media (max-width: 1000px) {
    width: 300px;
  }

  @media (max-height: 800px) {
    width: 300px;
  }

  &__content {
    height: 300px;
    padding-top: 20px;
    overflow: auto;

    outline: none;

    @media (max-width: 1280px) {
      height: 250px;
      padding-top: 15px;
    }

    @media (max-width: 1000px) {
      height: 150px;
      padding-top: 10px;
    }

    @media (max-height: 800px) {
      height: 150px;
      padding-top: 10px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}