@import '../../../../../../styles/vars';

.color-option {
  margin-bottom: 15px;

  font-family: "Baron Neue", sans-serif;
  color: $color-black;

  &__title {
    opacity: .5;
    margin-bottom: 15px;
  }
}