@import '../../../../styles/vars';

.parking-slots {
  position: relative;
  
  width: 47%;
  height: 40%;
  
  filter: drop-shadow(0 0 2px $color-black);
  
  &-top,
  &-bottom {
	position: absolute;
	top: 0;
	
	width: 100%;
	height: 50%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	&-slot {
	  width: 10%;
	  height: 100%;
	  
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	&__bg {
	  position: absolute;
	  width: 100%
	}
  }
  
  &-bottom {
	transform: scaleY(-1) translateY(calc(-100% - 6px));
  }
}