@import '../../../../../../styles/vars';

.inventory-trade {
  margin: 0 210px 140px 0;
  
  width: 430px;
  
  text-shadow: 0 2px 2px $color-black;
  
  &__title {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-bottom: 10px;
  }
  
  &-description {
	margin-bottom: 10px;
  }
  
  &-get,
  &-give {
	width: 100%;
	overflow: hidden;
	
	&-header {
	  width: 100%;
	  height: 30px;
	  display: flex;
	  align-items: center;
	  
	  &-money {
		position: relative;
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		
		&__value {
		  width: 100%;
		  height: 100%;
		  padding: 5px 20px;
		  display: flex;
		  align-items: center;
		  
		  font-size: 1.2rem;
		  
		  background: linear-gradient(to right, #ffffff80, #8C899280);
		}
		
		&__input {
		  width: 100%;
		  height: 100%;
		  padding: 5px 20px;
		  display: flex;
		  align-items: center;
		  
		  background-color: #00000080;
		  border: none;
		  outline: none;
		  
		  font-size: 1.2rem;
		  color: #ffffff;
		  
		  &::placeholder {
			color: #ffffff80;
		  }
		}
		
		&__dollar {
		  position: absolute;
		  top: 50%;
		  right: 20px;
		  transform: translateY(-50%);
		  
		  font-size: 1.5rem;
		  font-family: "TT Norms Bold", sans-serif;
		  color: #000000;
		  opacity: .5;
		  text-shadow: none;
		}
	  }
	  
	  &-info {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		width: 40%;
		height: 100%;
		margin-left: auto;
		
		box-shadow: 15px 5px 10px #00000057;
		
		background: linear-gradient(to right, #ffffff57, #8C899257);
		
		&__line {
		  width: 25%;
		  height: 2px;
		  background-color: #fff;
		  margin-left: auto;
		}
		
		&__title {
		  margin-left: 10px;
		}
		
		&__arrow {
		  width: 10px;
		  transform: scaleX(-1);
		}
	  }
	  
	  &__weight {
		font-size: 1.5rem;
	  }
	}
	
	&-content {
	  position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  padding: 15px 0 0 15px;
	  
	  overflow: hidden;
	  
	  background: linear-gradient(to top, #ffffff57, #8C899257);
	  
	  &-cell {
		position: relative;
		width: 50px;
		height: 50px;
		margin-bottom: 15px;
		margin-right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		background-color: #00000057;
		
		text-shadow: 0 2px 2px $color-black;
		
		cursor: url('../../../../../../assets/images/cursorPointer.svg'), pointer;
		
		border: 2px solid #00000000;
		
		&_active {
		  border: 2px solid #ffffff !important;
		}
		
		&_food::before {
		  content: '';
		  position: absolute;
		  bottom: 0;
		  
		  width: 100%;
		  height: 4px;
		  
		  background-color: #FF9770;
		}
		
		&_drink::before {
		  content: '';
		  position: absolute;
		  bottom: 0;
		  
		  width: 100%;
		  height: 4px;
		  
		  background-color: #91C1F1;
		}
		
		&__image {
		  position: absolute;
		  width: 60%;
		  height: 60%;
		  
		  pointer-events: none;
		}
		
		&__quality {
		  position: absolute;
		  left: 50%;
		  top: 0;
		  transform: translateX(-50%);
		  
		  width: 20%;
		  height: 100%;
		  
		  pointer-events: none;
		}
		
		&__count {
		  position: absolute;
		  top: 0;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  
		  pointer-events: none;
		}
		
		&-locked {
		  position: relative;
		  width: 50px;
		  height: 50px;
		  margin-bottom: 15px;
		  margin-right: 15px;
		  
		  overflow: hidden;
		  
		  background-color: #00000037;
		  
		  &-lines {
			position: absolute;
			top: 0;
			left: 50%;
			transform: rotate(-45deg) translate(-50%, -50%);
			
			width: 100%;
			height: 100%;
			
			&__line {
			  width: 400%;
			  height: 3px;
			  margin-bottom: 7px;
			  background-color: #ffffff;
			  opacity: .1;
			}
		  }
		}
	  }
	  
	  &-ready {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		width: 100%;
		height: 100%;
		
		background: linear-gradient(to bottom, $color-blank, #31802466);
		
		pointer-events: none;
		
		&-lines {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%) rotate(-35deg);
		  
		  &__line {
			height: 4px;
			width: 500px;
			margin-bottom: 15px;
			
			background-color: #00000033;
		  }
		}
	  }
	}
	
	&__ready {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  
	  width: 100%;
	  padding: 10px 10px 15px 10px;
	  
	  cursor: url("../../../../../../assets/images/cursorPointer.svg"), pointer;
	  
	  font-size: 1.5rem;
	  font-family: "Baron Neue", sans-serif;
	  
	  background-color: #8C89928f;
	  
	  opacity: .75;
	  
	  transition: opacity .2s;
	  
	  &:hover {
		opacity: 1;
	  }
	}
  }
  
  &-get {
	margin-bottom: 80px;
  }
}