@import '../../styles/vars';

.spawn-choice {
  width: 100vw;
  height: 100vh;
  padding: 45px 0 0 700px;

  background: linear-gradient(122deg, #AAB6EF2B, $color-white);

  font-family: 'Baron Neue', sans-serif;
  
  opacity: 0;
  
  transition: opacity .2s;

  @media (min-width: 3000px) {
    padding: 30px 0 0 1200px;
  }

  @media (max-width: 1280px) {
    padding: 30px 0 0 500px;
  }

  @media (max-width: 1000px) {
    padding: 25px 0 0 350px;
  }

  @media (max-height: 800px) {
    padding: 25px 0 0 350px;
  }
  
  &_active {
    opacity: 1;
  }
  
  &-location-frame {
    position: absolute;
    top: 0;
    left: 540px;
    transform: translate(-50%, -100%);

    width: 330px;
    height: 860px;

    z-index: 500;
    
    transition: transform .5s ease;
    
    @media (min-width: 2600px) {
      left: 1040px;
    }

    @media (max-width: 1280px) {
      left: 340px;
    }

    @media (max-width: 1000px) {
      left: 270px;
      width: 165px;
      height: 430px;
    }

    @media (max-height: 800px) {
      left: 270px;
      width: 165px;
      height: 430px;
    }

    &__bg {
      height: 100%;
      width: 100%;
      
      pointer-events: none;
      
      transition: filter .5s;
    }
    
    &__char {
      position: absolute;
      bottom: 0;
      left: 0;
      
      transform: translateX(-90px);

      height: 500px;
      
      transition: transform .5s ease;
      
      pointer-events: none;
      
      &_right {
        transform: translateX(40px);
      }

      @media (max-width: 1000px) {
        left: -45px;
        height: 250px;
      }

      @media (max-height: 800px) {
        left: -45px;
        height: 250px;
      }
    }
  }
  
  &_active &-location-frame {
    transform: translate(-50%, 0);
  }

  &__title {
    margin-left: 25px;
    font-size: 1.5rem;
    opacity: 0;
    color: #000000;
    
    transform: translateY(-300%);
    
    transition: opacity .3s .5s, transform .3s ease .5s;

    @media (max-width: 1000px) {
      margin-left: 15px;
      font-size: 1.2rem;
    }

    @media (max-height: 800px) {
      margin-left: 15px;
      font-size: 1.2rem;
    }
  }
  
  &_active &__title {
    opacity: .25;
    transform: translateY(0);
  }

  &-navigation {
    position: relative;

    background: linear-gradient(270deg, #8C899240, $color-white-medium-opacity);
    width: 600px;
    padding: 15px 0;
    margin-top: 15px;
    
    transform: translateY(-150%);
  
    opacity: 0;
    
    transition: opacity .3s .8s, transform .3s .8s;

    box-shadow: -10px 10px 15px $color-black-medium-opacity;

    @media (max-width: 1000px) {
      width: 300px;
      padding: 7px 0;
      margin-top: 10px;

      font-size: .8rem;
    }

    @media (max-height: 800px) {
      width: 300px;
      padding: 7px 0;
      margin-top: 10px;

      font-size: .8rem;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &__element {
        text-transform: lowercase;
        opacity: .5;

        cursor: url('../../assets/images/cursorPointer.svg'), pointer;

        color: #000000;

        transition: opacity .2s;
      }
    }

    &__slider {
      position: absolute;
      bottom: 6px;

      height: 2px;
      border-radius: 2px;

      background: linear-gradient(to right, #AAB4EE70, #C373F395, #AAB4EE70);
      transition: left .7s ease, width .7s ease;

      @media (max-width: 1000px) {
        bottom: 3px;
        height: 1px;
      }

      @media (max-height: 800px) {
        bottom: 3px;
        height: 1px;
      }
    }
  }
  
  &_active &-navigation {
    opacity: 1;
    transform: translateY(0);
  }

  &-info {
    transform: translateY(-100%);
    opacity: 0;
    
    transition: opacity .3s 1.1s, transform .3s 1.1s;
    
    margin: 50px 0 0 45px;

    @media (max-width: 1000px) {
      margin: 25px 0 0 25px;
    }

    @media (max-height: 800px) {
      margin: 25px 0 0 25px;
    }

    &__title {
      opacity: .5;
      color: #000000;
    }
  }
  
  &_active &-info {
    opacity: 1;
    transform: translateY(0);
  }

  &-play {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1px;

    cursor: url('../../assets/images/cursorPointer.svg'), pointer;
  
    opacity: 0;

    transition: color .35s ease, text-shadow .35s ease, opacity .2s 1.4s;

    @media (max-width: 1000px) {
      bottom: 35px;
      font-size: 1rem;
    }

    @media (max-height: 800px) {
      bottom: 35px;
      font-size: 1rem;
    }
    
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      padding: 100px 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__slider {
      z-index: -1;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-200%, -75%);
      clip-path: polygon(70% 50%, 0 50%, 20% 100%, 90% 100%);

      height: 100px;
      width: 60vw;

      background: linear-gradient(to right, #AAB4EE70, #C373F395, #AAB4EE70);
      transition: transform 1s ease;

      pointer-events: none;

      @media (max-width: 1000px) {
        height: 50px;
      }

      @media (max-height: 800px) {
        height: 50px;
      }
    }

    &:hover &__slider {
      transform: translate(100%, -75%);
    }

    &:hover {
      color: $color-white;
      text-shadow: 0 1px 3px $color-black;

      &::before,
      &::after {
        opacity: 1;
      }
    }

    &::before,
    &::after {
      content: '';
      z-index: -2;

      position: absolute;
      top: 55%;

      opacity: 0;

      background: linear-gradient(to right, $color-blank 5%, #AAB4EEda, #C373F3da, #AAB4EEda, $color-blank 95%);
      width: 50vw;
      height: 2px;

      transition: opacity .35s ease;

      pointer-events: none;

      @media (max-width: 1000px) {
        height: 1px;
      }

      @media (max-height: 800px) {
        height: 1px;
      }
    }

    &::before {
      right: 0;
    }

    &::after {
      left: 0;
    }
  }
  
  &_active &-play {
    opacity: 1;
  }
}