@import '../../styles/vars';

.crime-store {
  width: 100vw;
  height: 100vh;
  padding: 20px 40px;
  
  background-color: #000000BF;
  backdrop-filter: blur(5px);
  
  font-family: "TT Norms Medium", sans-serif;
  
  opacity: 0;
  
  transition: opacity .2s;
  
  &_active {
	opacity: 1;
  }
  
  &-header {
	position: relative;
	margin-bottom: 40px;
	
	&-info,
	&-navigation {
	  display: flex;
	  align-items: flex-start;
	}
	
	&-info {
	  margin-bottom: 20px;
	  
	  &__title {
		width: 180px;
		margin-right: 20px;
		
		font-family: "Baron Neue", sans-serif;
		font-size: 2.5rem;
		text-transform: uppercase;
		
		opacity: .5;
	  }
	  
	  &-time {
		display: flex;
		align-items: center;
		
		&__description {
		  width: 180px;
		  margin-right: 20px;
		}
		
		&__icon {
		  width: 2rem;
		  margin-right: 10px;
		}
		
		&__value {
		  display: flex;
		  align-items: center;
		  margin-right: 80px;
		  
		  font-family: "TT Norms Bold", sans-serif;
		  font-size: 1.5rem;
		  
		  & span {
			margin-left: 10px;
			font-family: "TT Norms Medium", sans-serif;;
			font-size: 1rem;
			opacity: .2;
		  }
		}
	  }
	  
	  &-status {
		display: flex;
		align-items: center;
		text-align: right;
		
		&:hover &__title {
		  transform: translateX(0);
		  opacity: 1;
		}
		
		&:hover &__icon {
		  opacity: .5;
		}
		
		&__title {
		  margin-right: 5px;
		  
		  transform: translateX(50%);
		  opacity: 0;
		  
		  transition: opacity .2s, transform .2s;
		}
		
		&__icon {
		  height: 2.5rem;
		  
		  transition: opacity .2s;
		}
	  }
	}
	
	&-navigation {
	  &-element {
		width: 180px;
		margin-right: 20px;
		
		text-align: center;
		
		&_active &__title {
		  background: #00000080;
		}
		
		&_active &-options {
		  transform: translateY(0);
		  opacity: 1;
		  pointer-events: auto;
		  
		  transition: opacity .2s, transform .2s;
		}
		
		&__title {
		  width: 100%;
		  padding: 20px;
		  
		  text-transform: uppercase;
		  
		  background: linear-gradient(to right, #ffffff57, #8C899257);
		  
		  cursor: url("../../assets/images/cursorPointer.svg"), pointer;
		}
		
		&-options {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  
		  transform: translateY(-100%);
		  
		  opacity: 0;
		  
		  pointer-events: none;
		  
		  &__element {
			width: 50%;
			padding: 5px;
			
			background-color: #00000080;
			
			color: #ffffff80;
			
			cursor: url("../../assets/images/cursorPointer.svg"), pointer;
			
			&_active {
			  background: linear-gradient(to right, #ffffff57, #8C899257);
			  color: $color-white;
			}
		  }
		}
	  }
	  
	  &__description {
		width: 300px;
	  }
	}
	
	&-notify {
	  position: absolute;
	  top: 10px;
	  right: 210px;
	  
	  width: 315px;
	  height: 105px;
	  padding: 50px 50px 20px 50px;
	  
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  
	  opacity: 0;
	  
	  transition: opacity .2s;
	  
	  background: linear-gradient(to bottom, $color-blank, #FFD4A24D);
	  
	  text-shadow: 0 2px 2px $color-blank;
	}
	
	&-exit {
	  position: absolute;
	  top: 10px;
	  right: 0;
	  
	  display: flex;
	  align-items: center;
	  
	  @media (max-width: 1000px) {
		bottom: 25px;
		left: 35px;
	  }
	  
	  @media (max-height: 800px) {
		bottom: 25px;
		left: 35px;
	  }
	  
	  &__button {
		width: 40px;
		height: 40px;
		margin-left: 5px;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		font-size: 1.2rem;
		
		border: 1px solid $color-white;
		
		@media (max-width: 1280px) {
		  font-size: 1rem;
		}
		
		@media (max-width: 1000px) {
		  width: 20px;
		  height: 20px;
		  margin-right: 2.5px;
		  font-size: .8rem;
		}
		
		@media (max-height: 800px) {
		  width: 20px;
		  height: 20px;
		  margin-right: 2.5px;
		  font-size: .8rem;
		}
		
		@media (min-width: 3000px) {
		  font-size: .8rem;
		}
	  }
	  
	  &__text {
		font-size: 1.2rem;
		
		@media (max-width: 1280px) {
		  font-size: 1rem;
		}
		
		@media (max-width: 1000px) {
		  font-size: .8rem;
		}
		
		@media (max-height: 800px) {
		  font-size: .8rem;
		}
		
		@media (min-width: 3000px) {
		  font-size: .8rem;
		}
	  }
	}
  }
  
  &-content {
	width: 100%;
	height: calc(100% - 185px);
  }
}