@import '../../../../../../styles/vars';

.inventory-trade-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 280px;
  height: 100%;
  padding: 15px 0;
  
  overflow: auto;
  
  opacity: 0;
  
  transition: opacity .2s;
  
  &::-webkit-scrollbar {
	display: none;
  }
  
  &__element {
	width: 100%;
	height: 4%;
	margin-bottom: 15px;
	padding: 5px 10px;
 
	display: flex;
	align-items: center;
	
	text-shadow: 0 2px 2px $color-black;
	font-family: "TT Norms Bold", sans-serif;
	text-transform: uppercase;
	
	background: linear-gradient(to right, #8C899280, #FFFFFF80);
	
	cursor: url("../../../../../../assets/images/cursorPointer.svg"), pointer;
	
	&:last-of-type {
	  margin-bottom: 0;
	}
  }
}