@import '../../../../styles/vars';

.hud-main {
  font-family: "TT Norms Medium", sans-serif;
  color: $color-white;
  
  opacity: 0;
  
  transition: opacity .2s;
  
  &__heal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 250vh;
    width: 110vw;
    background: transparent radial-gradient(closest-side at 50% 50%, #85D94E00 0%, #D2F1BE00 80%, #86D95080 110%, #85D94E90 130%);
    opacity: 1;

    animation: 2s healing infinite;
  }

  &-green-zone {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);

    bottom: -170px;

    width: 30px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    text-shadow: 0 0 8px $color-black;
    font-family: "TT Norms Medium", sans-serif;

    background: linear-gradient(to top, #B4F191, #B4F191, #B4F19100);

    transition: opacity .2s, bottom .5s;

    @media (max-width: 1280px) {
      left: 70%;
    }

    @media (max-width: 1154px) {
      left: 68%;
    }

    @media (max-width: 1000px) {
      margin-bottom: 5px;
      font-size: .8rem;
      text-shadow: 0 2px 2px $color-black;
    }

    @media (max-height: 800px) {
      margin-bottom: 5px;
      font-size: .8rem;
      text-shadow: 0 2px 2px $color-black;
    }

    &_active {
      bottom: -125px;
      animation-name: greenZone;
      animation-duration: 3.12s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }

    &__title {
      transform: rotate(-90deg) translateX(-65%);
      color: $color-black;
      font-family: "TT Norms Bold", sans-serif;
      text-transform: uppercase;
      opacity: .6;
      z-index: 1;
    }

    &__icon {
      position: relative;
      width: 18px;
      margin-bottom: 5px;
      filter: drop-shadow(0 5px 5px $color-black);

      @media (max-width: 1000px) {
        width: 10px;
        margin-bottom: 2px;
        filter: drop-shadow(0 2px 2px $color-black);
      }

      @media (max-height: 800px) {
        width: 10px;
        margin-bottom: 2px;
        filter: drop-shadow(0 2px 2px $color-black);
      }
    }
  }
}

@keyframes healing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes greenZone {
  0% {bottom: -170px;}
  32.05% {bottom: -20px;}
  67.95% {bottom: -20px;}
  100% {bottom: -125px;}
}